@charset "CP850";
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/Opencast-Statistiken\/ui\.sass}line{font-family:\000031}}
body {
  background-color: gray; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/Opencast-Statistiken\/ui\.sass}line{font-family:\0000325}}
.container-box {
  width: 1000px;
  background-color: white;
  padding: 0px;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) ﻿; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/Opencast-Statistiken\/ui\.sass}line{font-family:\0000337}}
.totalview {
  text-align: center;
  font-size: 24px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/Opencast-Statistiken\/ui\.sass}line{font-family:\0000341}}
.totalview div {
  font-size: 56px;
  font-style: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/Opencast-Statistiken\/ui\.sass}line{font-family:\0000345}}
.average_per_month {
  text-align: center;
  font-size: 24px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/Opencast-Statistiken\/ui\.sass}line{font-family:\0000349}}
.average_per_month div {
  text-align: center;
  font-size: 24px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/Opencast-Statistiken\/ui\.sass}line{font-family:\0000354}}
.col-md-4 {
  padding: 50px 0px 50px 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/Opencast-Statistiken\/ui\.sass}line{font-family:\0000357}}
.container-chart {
  width: 100%;
  height: 600px;
  position: relative;
  top: 0px;
  z-index: 1;
  background: linear-gradient(top, #6cb06b 0%, #4bb07b 66%, #4bb07b 100%);
  background: -moz-linear-gradient(top, #6cb06b 0%, #4bb07b 66%, #4bb07b 100%);
  background: -webkit-linear-gradient(top, #6cb06b 0%, #4bb07b 66%, #4bb07b 100%);
  background: -ms-linear-gradient(top, #6cb06b 0%, #4bb07b 66%, #4bb07b 100%);
  background: -o-linear-gradient(top, #6cb06b 0%, #4bb07b 66%, #4bb07b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6cb06b, endColorstr=#4BB07B,GradientType=1); }
