body
  background:
    color: grey

// .godfather
//   width: 500px
//   height: 500px
//   position: absolute
//   background-color: rgba(255,255,255,0.8)
//   left: 50%
//   top: 50%
//   z-index: 100
//   -ms-transform: translate(-50%,-50%)
//   -webkit-transform: translate(-50%,-50%)
//   transform: translate(-50%,-50%)﻿
//
// #page1
//   height: 100vh
//   background:
//     image: url(src/img/bg-img.jpg)
//     size: cover
//     position: center
//     filter: blur(10px)

.container-box
  width: 1000px
  background-color: #fff
  padding: 0px
  position:  absolute
  z-index: 10
  top: 50%
  left: 50%
  -ms-transform: translate(-50%,-50%)
  -webkit-transform: translate(-50%,-50%)
  transform: translate(-50%,-50%)﻿

.totalview
  text-align: center
  font-size: 24px

.totalview div
  font-size: 56px
  font-style: bold

.average_per_month
  text-align: center
  font-size: 24px

.average_per_month div
  text-align: center
  font-size: 24px


.col-md-4
  padding: 50px 0px 50px 0px

.container-chart
  width: 100%
  height: 600px
  position: relative
  top: 0px
  z-index: 1
  background: linear-gradient(top, #6cb06b 0%, #4BB07B 66%, #4BB07B 100%)
  background: -moz-linear-gradient(top, #6cb06b 0%, #4BB07B 66%, #4BB07B 100%)
  background: -webkit-linear-gradient(top, #6cb06b 0%, #4BB07B 66%, #4BB07B 100%)
  background: -ms-linear-gradient(top, #6cb06b 0%, #4BB07B 66%, #4BB07B 100%)
  background: -o-linear-gradient(top, #6cb06b 0%, #4BB07B 66%, #4BB07B 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6cb06b, endColorstr=#4BB07B,GradientType=1)
