body
  background: linear-gradient(-45deg, #8D97AE 0%, #859EB8 100%, #859EB8 100%)
  background: -moz-linear-gradient(-45deg, #8D97AE 0%, #859EB8 100%, #859EB8 100%)
  background: -webkit-linear-gradient(-45deg, #8D97AE 0%, #859EB8 100%, #859EB8 100%)
  background: -ms-linear-gradient(-45deg, #8D97AE 0%, #859EB8 100%, #859EB8 100%)
  background: -o-linear-gradient(-45deg, #8D97AE 0%, #859EB8 100%, #859EB8 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8D97AE, endColorstr=#859EB8,GradientType=1)

.container-box
  width: 1000px
  height: 100%
  background-color: #fff
  padding: 0px
  margin-top: 50px
  position:  relative
  z-index: 10

.totalview
  text-align: center
  font-size: 24px

.totalview div
  font-size: 56px
  font-style: bold

.average_per_month
  text-align: center
  font-size: 24px

.average_per_month div
  text-align: center
  font-size: 24px


.col-md-4
  padding: 50px 0px 50px 0px

.container-chart
  width: 100%
  height: 600px
  position: relative
  top: 0px
  z-index: 1
  background: linear-gradient(top, #6cb06b 0%, #4BB07B 66%, #4BB07B 100%)
  background: -moz-linear-gradient(top, #6cb06b 0%, #4BB07B 66%, #4BB07B 100%)
  background: -webkit-linear-gradient(top, #6cb06b 0%, #4BB07B 66%, #4BB07B 100%)
  background: -ms-linear-gradient(top, #6cb06b 0%, #4BB07B 66%, #4BB07B 100%)
  background: -o-linear-gradient(top, #6cb06b 0%, #4BB07B 66%, #4BB07B 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6cb06b, endColorstr=#4BB07B,GradientType=1)
